@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



.content {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
}

img {
    width: 200px;
}